<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body">
				<table class="table">
					<thead>
						<tr>
							<th style="width:5%;">#</th>
							<th style="width:45%;">Fullname</th>
							<th style="width:15%;">ID/Passport</th>
							<th style="width:20%;">Village</th>
							<th style="width:10%;">Status</th>
							<th style="width:5%;"></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">1</th>
							<td>Lawrence Gumbo</td>
							<td>EN990077</td>
							<td>Rebero</td>
							<td>Active</td>
							<td>
								<a [routerLink]="['/landlord']">
									View
								</a>
							</td>
						</tr>
						<tr>
							<th scope="row">1</th>
							<td>Phillip Jeka</td>
							<td>1234567</td>
							<td>Nyarutarama</td>
							<td>Active</td>
							<td>
								<a [routerLink]="['/landlord']">
									View
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
